    <footer class="grey darken-4">
        <div class="row">
            <div class="container">
                <div class="footer-container">
                    <div class="center-align">Designed & Developed by Dip Kumar Kapat</div>
                    <div class="center-align">Email: <a href="mailto:kapat.dip@gmail.com">kapat.dip@gmail.com</a> | Mobile: +91 9903359927</div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
    </body>
</html>