<% include partials/header %>
    <div class="row">
        <div class="banner-container">
            <div class="container">
                <h1>Welcome to JavaScript Quiz</h1>
                <p><a href="/login" class="waves-effect waves-light btn">Get Started</a></p>
            </div>
        </div>
    </div>
<% include partials/footer %>