body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
}

a{
  color: #1e88e5;
}

a:hover, a:focus{
  color: #1976d2;
}

.navbar-fixed {
  height: auto!important;
  position: absolute;
  top: 0;
  left: 0;
}

.brand-logo {
  font-style: italic;
  text-transform: uppercase;
}

.nav-wrapper ul li a {
  font-weight: 700;
  text-transform: uppercase;
}

#sidenav-overlay {
  z-index: 996;
}

.banner-container {
  background: url("../images/bkgr-img.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}
  
.banner-container h1{
  color: #fff;
  font-weight: 700;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}  

.banner-container p a {
  font-size: 1.5rem;
  color: #000;
}

.banner-container .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn{
  background-color: #ffa000;
}

.btn:hover{
  background-color: #ffb300;
}

.btn:focus{
  background-color: #ffc107;
}

.footer-container{
  padding: 10px 0;
  font: 300 1rem 'Open Sans', sans-serif;
  color: #9e9e9e;
}  

footer .row{
  margin-bottom: 0;
}